<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BUG TRACKA</title>
</head>
<body>
<h1>Bug Tracker</h1>
<p><a href="new/{{user.id}}">Create a New ticket</a></p>
<p><a href="logout/">Logout</a></p>
<h2>New Tickets!</h2>
{% for Ticket in data %}
    {%if Ticket.status == 'N'%}
    <a href="/ticket/{{Ticket.id}}">{{Ticket.title}}<div>Created At: {{Ticket.time}}</div></a>
    {%endif%}
{%endfor%}
<h2>In Progress Tickets</h2>
{% for Ticket in data %}
    {%if Ticket.status == 'P'%}
    <a href="/ticket/{{Ticket.id}}">{{Ticket.title}}<div>Created At: {{Ticket.time}}</div></a>
    {%endif%}
{%endfor%}
<h2>Finished Tickets</h2>
{% for Ticket in data %}
    {%if Ticket.status == 'D'%}
    <a href="/ticket/{{Ticket.id}}">{{Ticket.title}}<div>Created At: {{Ticket.time}}</div></a>
    {%endif%}
{%endfor%}
<h2>Invalid Tickets</h2>
{% for Ticket in data %}
    {%if Ticket.status == 'I'%}
    <a href="/ticket/{{Ticket.id}}">{{Ticket.title}}<div>Created At: {{Ticket.time}}</div></a>
    {%endif%}
{%endfor%}


</body>
</html>