<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user}}</title>
</head>
<body>
<h1>{{user}}</h1>
<p>Created Tickets:</p>
    {%for data in submited%}
<p><a href="/ticket/{{data.id}}">{{data.title}}</a></p>
    {%endfor%}
<p>tickets worked:</p>
    {%for data in assigned%}
<p><a href="/ticket/{{data.id}}">{{data.title}}</a></p>
    {%endfor%}
<p>tickets finished:</p>
{%for data in completed%}
<p><a href="/ticket/{{data.id}}">{{data.title}}</a></p>
    {%endfor%}
</body>
</html>